<div class='row footer'>
  <div class='col-md-4'>
    <p>Pediatría Médica CPG<br />
      Norte 174, No. 567. Col. Pensador Mexicano,<br />
      Alcaldía. Venustiano Carranza, CDMX. C. P. 15510<br />
      Tel. 5581298331</p>
  </div>
  <div class='col-md-4'>
    <ul>
      <li>Aviso de privacidad</li>
      <li>Nuestros médicos</li>
      <li>Especialidades médicas</li>
      <li>Noticias y novedades</li>
      <li>Pacientes</li>
    </ul>
  </div>
  <div class='col-md-4'>
    <h5>Síguenos en nuestra redes sociales:</h5>
    <ul>
      <li>facebook</li>
      <li>twitter</li>
      <li>google +</li>
    </ul>
  </div>
</div>
