<div class='row footer bg-light text-dark'>
  <div class='col-md-10'>
    <h5>Síguenos en nuestra redes sociales:</h5>
    <ol class='breadcrumb bg-light'>
      <li class='breadcrumb-item'><a href="#"><i class="fab fa-facebook fa-3x" ></i></a></li>
      <li class='breadcrumb-item'><a href="#"><i class="fab fa-twitter-square fa-3x"></i></a></li>
      <li class='breadcrumb-item'><a href="#"><i class="fab fa-google-plus-square fa-3x"></i></a></li>
    </ol>
  </div>
  <div class='col-md-2'>
    Powered by <a href='www.ubainternet.com'>ubainternet.com</a>
  </div>
</div>
