<div class='row'>
  <div class='col-md-6'>
    <h1>Te esperamos en: </h1>
    <table *ngFor='let consultorio of consultoriosResponse.consultorios'>
      <tr>
        <th>Sucursal</th>
        <td>{{consultorio.descripcion}}</td>
      </tr>
      <tr>
        <th>Calle y número</th>
        <td>{{consultorio.calle_numero}}</td>
      </tr>
      <tr>
        <th>Colonía</th>
        <td>{{consultorio.colonia}}</td>
      </tr>
      <tr>
        <th>Alcaldía</th>
        <td>{{consultorio.alcaldia}}</td>
      </tr>
      <tr>
        <th>Código Postal</th>
        <td>{{consultorio.codigo_postal}}</td>
      </tr>
      <tr>
        <th>Estado</th>
        <td>{{consultorio.estado}}</td>
      </tr>
      <tr>
        <th>Entre calle</th>
        <td>{{consultorio.entre_calle}}</td>
      </tr>
      <tr>
        <th>Y calle</th>
        <td>{{consultorio.y_calle}}</td>
      </tr>
    </table>
  </div>
  <div class='col-md-6'>
    <app-map></app-map>
  </div>
</div>
