<div class='row'>
  <div class='col-md-12' class="table-responsive">
    <h1>Para hacer una cita, llama a los telefonos:</h1>
    <table>
      <table>
        <thead>
          <tr>
              <th>Especialidad</th>
              <th>Doctor</th>
              <th>Teléfono</th>
              <th>Horario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>
</div>