<div class="row">
  <div class="col-md-12" class="table-responsive">
    <h1>Necesitas información, llama a los telefonos:</h1>
      <table class='table table-sm table-striped table-bordered'>
        <thead class='thead-light'>
          <tr>
              <th>Especialidad</th>
              <th>Doctor</th>
              <th>Teléfono</th>
              <th>Horario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ubicacion of this.ubicacionesArr; let i = index; ">
            <td>{{ubicacion.especialidad.descripcion}}</td>
            <td>{{ubicacion.nombre}} {{ubicacion.apellido_paterno}} {{ubicacion.apellido_materno}}</td>
            <td><span *ngFor='let ubicacionItem of ubicacion.ubicaciones'>
                 <span *ngFor = 'let contacto of ubicacionItem.contactos'>
                   <b>{{contacto.tipo_contacto}}</b>: <b>{{contacto.valor_contacto}}</b>
                 </span>
            </span></td>
            <td>
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button"  (click)="isCollapsed[i] = !isCollapsed[i]" [attr.aria-expanded]="!isCollapsed[i]" [attr.data-target]="i">
                      Horario
                    </button>
                  </h2>
                    <div [attr.id]="i" [ngbCollapse]="!isCollapsed[i]">
                        <div class="card">
                            <div class="card-body">
                                <span *ngFor='let horario of ubicacion.horarios'>
                                    <p>Dia: {{horario.dia}}<br /> De: {{horario.hora_inicio}} A: {{horario.hora_fin}} <br />
                                    </p>  
                                  </span>
                            </div>
                        </div>
                    </div>  
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>