.main-banner {
    height:200%;
    width: 100%;
    padding: 15px;
    /* background: url('./../../assets/image/navidadCpg.svg');*/
    /* background-size: contain;*/
    /* background-repeat: no-repeat;*/
}

.submenu {
    height: 15%;
    padding-top:10px;
    padding-bottom: 10px;
}

.sub-banner {
    height: auto;
    margin: 0px;
    padding: 15px;
}

.banner-text {
    margin: 5% 0px;
    text-align: right;
}

.banner-text h1 {
    margin: 20px 20px;
}
