<div class='row main-banner'>
  <div class='col-md-6'>
      <object type="image/svg+xml" data="./../../assets/image/CPG_banner1.svg">
      </object>      
  </div>
  <div class='col-md-6 banner-text'>
      <h1>Pediatría Médica CPG</h1>
      <h3>Más de 30 años cuidando la salud<br />
        de lo más importante en<br />
        la vida.</h3>
  </div>
</div>
<div class='row sub-banner'>
  <div class='col-md-12'>
      <div class="alert alert-success" role="alert" style ='text-align: center;'>
    <h4>¡Bienvenido!</h4>
    <p>En Pediatría Médica hemos creado este espacio para mejorar la comunicación de los pacientes con sus médicos. 
      En el encontrarás herramientas útiles e información de las últimas novedades en el campo de la medicina. </p>
    </div>
  </div>
</div>