<div class='row main-banner'>
  <div class='col-md-6'>      
  </div>
  <div class='col-md-6 banner-text'>
    <div class='row'>
      <div class='col'>
          <h1 style='text-align: right; font-family: "PT Sans", sans-serif;'><b>Pediatría Médica CPG</b></h1>
      </div>
    </div>
    <div class='row'>
        <div class='col'>
          <a class="btn btn-success btn-lg" routerLink="/pacientes" routerLinkActive="active" role="button">
            Informes y Contacto
          </a>
        </div>
      </div>
      <div class='row'>
          <div class='col'>
              <h3>Más de 30 años cuidando la salud<br />
                de lo más importante en<br />
                la vida.</h3>
          </div>
        </div>
  </div>
</div>